
body{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
}
h1 {
    background-color: black;
    opacity: 0.6;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    color: wheat;
}

* {
    margin: 0%;
    padding: 0%;
}

.firstform {
    color: white;
    padding: 25px;
    width: max-content;
    margin: 100px auto;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;

}

#src_id {
    padding: 10px;
    font-size: 16px;
    width: -webkit-fill-available;
    margin-bottom: 25px;
  
}

#to_id {
    padding: 10px;
    font-size: 16px;
    width: -webkit-fill-available;
    margin-bottom: 25px;
}

#date_id {
    padding: 10px;
    font-size: 16px;
    width: -webkit-fill-available;
    margin-bottom: 25px;
    font-family: auto;
}

.submit {
    padding: 10px;
   
    background-color: aquamarine;
    color: black;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
   margin-left:25% ;

   
   border: 4px solid  red;

   
}

.submit:hover{
    border: 4px solid green;
    border-top: none;
    background-color: black;
    transition: 0.5s linear;
    color: rgb(117, 165, 224);

}
#seatsDiagram{
    background-color: aqua;
}
form #selected_seat_l{
    padding: 10px;
    font-size: 16px;
    width: -webkit-fill-available;
    margin-bottom: 25px;
}
#seat_input{
     padding: 10px;
    font-size: 16px;
   
}


.second {
     color: white;
    padding: 25px;
    width: max-content;
    margin: 100px auto;
    font-size: 20px;
    border: 1px solid black;
     background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
   
}
.second table{
    border: 2px solid green;
}

th {
    padding: 5px;
    border: none;
}

td {
    padding: 5px;
    border: none;
}

.lastbutton {
    margin: auto;
    display: block;
    padding: 11px;
    font-size: 19px;
    
    border: none;
    background-color: aquamarine;
    color: black;
    border: 4px solid  red;
    cursor: pointer;
    border-radius: 3px;
}

.lastbutton:hover{
    border: 4px solid green;
    border-top: none;
    background-color: black;
    transition: 0.5s linear;
    color: rgb(117, 165, 224);
}